body{
    background-image: url(imagens/fundo.png);
    font: 16px Arial, Helvetica, sans-serif;
    width: 900px;
}

.menu {
    background-color: #c5c5b2;
    padding: 15px;
}

.conteudo {
    background-color: #e8e8d9;
    padding: 18px;
    h3 {
        color: #828271;
    }
    img {
        border: 10px solid #c3c3ae
    }
}

.rodape {
    text-align: center;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
